<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>Rango is Django</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/base.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container" >
        
        {% if category_name %}
            <form id="id_page_form" method="post" action="/rango/category/{{ category_name_url }}/add_page/">        
            {% csrf_token %}
        
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
                <div class="fieldwrapper">
                {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
                {% endfor %}
                </div> 
                <input type="submit" name="submit" value="Create Page" />
            </form>
        {% endif %}    
        
        
        </div>
    </body>
</html>