<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>Rango is Django</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/base.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container" >
        
            {% if category %}            
             <h1>{{ category_name }}:</h1>  
                {% if pages %}
                    {% for page in pages %}
                        {{ forloop.counter }}: <a href={{ page.url }}>{{ page.title }}</a><br />
                {% endfor %}
            {% else %}
                <strong>Category {{ category_name }} doesn't exist</strong>
                {% endif %}            
            {% endif %}
        <a href="/rango/about/">About</a><br />
        </div>
    </body>
</html>