<!DOCTYPE html>
<html lang="en">    
    <head>
        <title>Rango is Django</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/base.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="container" >
            {% if user.is_authenticated %}
                <h4>Welcome {{ user.username }}</h4>
            {% else %}
                <h4>To add pages you require to be logged in </h4>
            {% endif %}    
            <a href="/rango/login/"><Strong>Login</Strong></a><br />
            {% if categories %}            
             <h1>Top {{ categories|length }} categories</h1>  
                {% for category in categories %}
                <strong>{{ category.url }}</strong>
                {{ forloop.counter }}: <a href="/rango/category/{{ category.name|urlencode }}/">{{ category.name }}</a><br />
                {% endfor %}
            {% else %}
                <strong>Category doesn't exist</strong><br />
            {% endif %}
            {% if pages %}
                <h1>Top {{ pages|length }} urls:</h1><br />
                {% for page in pages %}
                    <a href="{{ page.url }}">{{ page.title }}</a><br />
                {% endfor %}
            {% else %}
                <strong>{{ page.title }} don't exist</strong>
            {% endif %}    
        
        <a href="/rango/register/">Register</a><br /><br />      
        <a href="/rango/about/">About</a><br />
        <a href="/rango/category/add_category/">Add New Category</a>
        </div>
    </body>
</html>